@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    /* Main Theme Color */
    --first-color: #000000;
    --second-color: #6a59d1;
    --third-color: #fff;

    /* Hover Color */
    --hover-color: #806aff;
    
    /* Text Color */
    --text-color: #ffffff97;

    /* Text HIghlight Color */
    --text-highlight-color: #00ffff;

    /* Font size */
    --small-font-size: 0.9em;
    --normal-font-size: 1em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--second-color);
    background-color: var(--first-color);
    margin: 2rem 0 0 0;
    transition: 0.5s ease;
}
 
a{
    text-decoration: none;
}

.flex-center{
    display: flex;
    justify-content: left;
    align-items: center;
}

/*  Header - NavBar  */
header{
    z-index: 99999;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(20px);
    transition: 0.6s ease;
}

.nav-bar{
    position: relative;
    height: calc(2.5rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: 0.6s ease;
}

.nav-bar .logo{
    font-size: 1.3em;
    font-weight: 500;
    color: var(--second-color);
}

.nav-items a{
    font-size: var(--normal-font-size);
    color: var(--second-color);
    font-weight: 500;
}

.nav-items a:not(:last-child){
    margin-right: 50px;
}

.nav-items a:hover{
    color: #806aff;
}

/* Home Section  */

.home{
    position: relative;;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
}

.home-container h2{
    color: var(--third-color);
    font-size: 6em;
    font-weight: 600;
    line-height: 130px;
}

.home-container h3{
    color: #ffffff97;
    font-size: 4em;
    font-feature-settings: 1.3em;
    font-weight: 500;
    line-height: 80px;
}
.home-container p{
    color: var(--text-highlight-color);
    font-size: var(--normal-font-size);
}

.home-container .info p{
    color: var(--second-color);
    font-size: var(--normal-font-size);
    max-width: 350px;
}

.btn{
    float: right;
    background-color: var(--second-color);
    color: var(--third-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 20px;
    letter-spacing: 1;
}
.btn:hover{
    background-color: var(--hover-color);
}

/* About Section  */

.about{
    position: relative;;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
}

.about-container h2{
    color: var(--text-color);
    font-size: 4em;
    font-weight: 600;
    line-height: 100px;
}

.about-info{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.about-container .info p{
    color: var(--second-color);
    font-size: var(--normal-font-size);
    max-width: 550px;
    margin-bottom: 1em;
    text-align: left;
}

.about-container .profile-pic{
    max-width: 350px;
    max-height: 350px;
    background-color: var(--hover-color);
}

.profile-pic img{
    width: 350px;
    height: 350px;
    opacity: .6;
    transition: 0.5s ease;
    object-fit: fill;
    
}
.profile-pic img:hover{
    opacity: 1;
    box-shadow: var(--text-highlight-color) 10px 10px ;
}
