@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    /* Main Theme Color */
    --first-color: #0a192f;
    --second-color: #6a59d1;
    --third-color: #fff;

    /* Hover Color */
    --hover-color: #806aff;
    
    /* Text Color */
    --text-color: #ffffff97;

    /* Text HIghlight Color */
    --text-highlight-color: #00ffff;

    /* Font size */
    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /* Box shadow */
    --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.591);

    /* Scroll bar colors */
    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #2d2945;

    --bg-transparent-color: rgba(0,0,0,0.1);

    /* Card Colors */
    --card-bg-color : #102a52;
}   


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--second-color);
    background-color: var(--first-color);
    margin: 2rem 0 0 0;
    transition: 0.5s ease;
}
 
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
::-webkit-scrollbar{
    width: 6px;
    background: var(--first-color);
}

::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}

.flex-center{
    display: flex;
    justify-content: left;
    align-items: center;
}

/*  Header - NavBar  */
header{
    z-index: 99999;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(20px);
    transition: 0.6s ease;
}

.section{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

header.sticky{
    box-shadow: var(--box-shadow);
    background: transparent;
}
.nav-bar{
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: 0.6s ease;
}

header.sticky .nav-bar{
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo{
    font-size: 1.3em;
    font-weight: 500;
    color: var(--second-color);
}

.nav-items a{
    font-size: var(--normal-font-size);
    color: var(--second-color);
    font-weight: 500;
}

.nav-items a:not(:last-child){
    margin-right: 50px;
}

.nav-items a:hover{
    color: #806aff;
}

.nav-menu-btn{
    display: none;
}

.nav-close-btn{
    display: none;
}

/* Home Section  */

.home{
    position: relative;;
    max-width: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container h2{
    color: var(--third-color);
    font-size: 6em;
    font-weight: 600;
    line-height: 130px;
    
}

.home-container h3{
    color: #ffffff97;
    font-size: 4em;
    font-feature-settings: 1.3em;
    font-weight: 500;
    line-height: 80px;
}
.home-container p{
    color: var(--text-highlight-color);
    font-size: 1.1em;
    font-weight: 500;
}

.home-container .info p{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    max-width: 350px;
}

.btn{
    float: right;
    background-color: black;
    color: var(--text-highlight-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 20px;
    letter-spacing: 1;
    transition: 0.4s ease;
    box-shadow: var(--box-shadow);
}
.btn:hover{
    background-color: var(--hover-color);
}

/* About Section  */

.about{
    position: relative;;
    max-width: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-container h2{
    color: var(--third-color);
    font-size: 4em;
    font-weight: 600;
    line-height: 100px;
}

.about-info{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.about-container .info p{
    
    color: var(--text-color);
    font-size: var(--normal-font-size);
    max-width: 550px;
    margin-bottom: 1em;
    text-align: justify;
}

.about-container .profile-pic{
    max-width: 350px;
    max-height: 350px;

}

.profile-pic img{
    width: 350px;
    height: 350px;
    opacity: .4;
    padding-left: 30px;
    transition: 0.3s ease;
    object-fit: fill;
    border-radius: 5px;
    box-shadow: var(--card-bg-color) 15px 15px ;
}
.profile-pic img:hover{
    opacity: 0.8;
    box-shadow: var(--second-color) 5px 5px ;
}

/* Experience Section  */

.experience{
    position: relative;
    width: 100%;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4.3rem 2rem;
    display: flex;
    justify-content: left;
    align-items:left;
}

.experience-container{
    width: 100%;
}

.experience-container h2{
    color: var(--third-color);
    font-size: 4em;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 30px;
}

.content{
    width: 100%;
}

.work-list{
    display: grid;
    grid-template-rows: repeat(autofill,minmax(225px,1fr));
    max-width: 100%;
}

.work-list-container{
    width: 100%;
}

.work-card{
    position: relative;
    max-width: 100%;
    background: var(--card-bg-color); 
    padding: 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;
}

.work-card:hover{
    transform: scale(1.05);

}

.work-card h3{
    color: var(--hover-color);
    font-weight: 500;
}

.work-card p{
    color: var(--text-color);
}

.work-card .learnMoreBtn{
    margin-top: 10px;
    color: var(--text-highlight-color);
    cursor: pointer;
    transition: .3s ease;
}

.work-card .learnMoreBtn i{
    transition: .3s ease;
    color: var(--text-color);
}

.work-card .learnMoreBtn:hover i{
    color: var(--text-highlight-color);
}

.work-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--bg-transparent-color);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

.work-card-content.active{
    visibility: visible;
    opacity: 1;
}

.work-card-content-data{
    position: relative;
    background: var(--first-color);
    color: var(--text-color);
    max-width: 900px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
}

.work-card-content.active .work-card-content-data{
    transform: translateY(0);
}

.work-card-content-data h3{
    color: var(--third-color);
    font-size: 2em;
    font-weight: 600;
    line-height: 2;
}

.work-card-content-data ul li{
    font-size: var(--small-font-size);
    line-height: 2;
    list-style-type: disc;
}

.work-card-content-data ul li i{
    color: var(--hover-color);
    margin-right: 10px ;
}

.work-card-content-data .work-card-closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

/*  Projects  */

.project {
    max-width: 100%;
    position: relative;;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4.3rem 2rem;
    display: flex;
    justify-content: left;
}

.project-container{
    width: 100%;
}

.content{
    width: 100%;
}

.project-container h2{
    color: var(--third-color);
    font-size: 4em;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 30px;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
    
}

.project-list li{
    position: relative;
    height: 300px;
    background: var(--card-bg-color); 
    padding: 30px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}

.project-list-container-card .icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.project-list-container-card i{
    font-size: 20px;
    align-items: center;
    color: var(--text-highlight-color);
    transition: 0.5s ease;
}

.project-list-container-card .project-links i{
    padding: 4px;
    color: var(--text-color);
}

.project-list-container-card .project-links i:hover{
    color: var(--text-highlight-color);
}

.project-list-container{
    transition: 0.3s ease;
}

.project-list-container:hover{
    transform: translateY(-10px);
}

.project-list-container-card .card-data h3{
    color: var(--third-color);
    line-height: 1.4;
    font-size: 22px;
    font-weight: 500;
}

.project-list-container-card .card-data h4{
    margin-bottom: 10px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
}

.project-list-container-card .card-data p{
    color: var(--text-color);
    font-size: var(--small-font-size);
}

/*  Contact  */

.contact {
    width: 100%;
    position: relative;;
    max-width: 1250px;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4.3rem 2rem;
    display: flex;
    justify-content: left;
    align-items:left;
}

.contact-container{
    width: 100%;
}

.content-contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-container h2{
    color: var(--third-color);
    font-size: 4em;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 30px;
}

.my-contact-info h3{
    color: var(--third-color);
    line-height: 1.4;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.my-contact-info p{
    color: var(--text-highlight-color);
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.my-contact-info i{
    color: var(--hover-color);
    margin-right: 20px;
}


.contact-form input, .contact-form textarea{
    border: none;
    color: var(--text-color);
    background: var(--card-bg-color);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.contact-form textarea{
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}

.contact-form .first-row input{
    width: 100%;
}

.contact-form .second-row{
    display: flex;
    justify-content: space-between;

}

.contact-form .second-row input{
    width: 48%;
}

.contact-btn{
    all: unset;
    float: right;
    background-color: black;
    color: var(--text-highlight-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 10px 15px;
    letter-spacing: 1;
    border-radius: 5px;
    transition: 0.4s ease;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.contact-btn:hover{
    background-color: var(--hover-color);
}

/* Footer */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--card-bg-color);
    padding: 3rem 15rem;
    color: var(--text-highlight-color);
}

footer a{
    color: var(--text-color);
}

footer a:hover{
    color: var(--hover-color);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.aboutme p{
    margin-bottom: 20px;
}

.footer-info h2{
    text-align: center;
}

.footer-info ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info li{
    margin: 5px;
}
.follow ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow li{
    margin-right: 10px;
}

.footer-copyright{
    text-align: center;
    margin-top: 30px;
}

footer i{
    font-size: 20px;
    margin: 6px;
}   

/*   Media query max-width 1070px   */
@media screen and (max-width: 1070px){

/* Navigation */

.navigation{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-transparent-color);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    transform: translateY(10px);
}

.navigation.active{
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease;
    transform: translateY(-10px);
    
}


.nav-menu-btn{
    display: block;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav-items{
    position: relative;
    background: var(--card-bg-color);
    width: 600px;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.nav-items a{
    margin: 15px 50px;
}

.nav-close-btn{
    position: absolute;
    background-size: 12px;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/*  Home  */

.home-container h2{
    font-size: 5em;
}

.home-container p{
    font-size: 1em;
}

.home-container.info p{
    font-size: 0.7em;
}

/* About Me */
.about .about-container .about-info{
    display: grid;
    width: 100%;
    row-gap: 20px;
    text-align: justify;
}
.about-container .profile-pic{
    margin: 0 auto;
}

.profile-pic img{
    padding-left:0;
}
}
    
@media screen and (max-width: 640px){
    .contact .contact-container .content-contact{
        display: grid;
        width: 100%;
        row-gap: 20px;
    }
}