@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    /* Main Theme Color */
    --first-color: #0a192f;
    --second-color: #6a59d1;
    --third-color: #fff;

    /* Hover Color */
    --hover-color: #806aff;
    
    /* Text Color */
    --text-color: #ffffff97;

    /* Text HIghlight Color */
    --text-highlight-color: #00ffff;

    /* Font size */
    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /* Box shadow */
    --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.591);

    /* Scroll bar colors */
    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #2d2945;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--second-color);
    background-color: var(--first-color);
    margin: 2rem 0 0 0;
    transition: 0.5s ease;
}
 
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
::-webkit-scrollbar{
    width: 6px;
    background: var(--first-color);
}

::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}

.flex-center{
    display: flex;
    justify-content: left;
    align-items: center;
}

/*  Header - NavBar  */
header{
    z-index: 99999;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(20px);
    transition: 0.6s ease;
}

header.sticky{
    box-shadow: var(--box-shadow);
    background: transparent;
}
.nav-bar{
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: 0.6s ease;
}

header.sticky .nav-bar{
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo{
    font-size: 1.3em;
    font-weight: 500;
    color: var(--second-color);
}

.nav-items a{
    font-size: var(--normal-font-size);
    color: var(--second-color);
    font-weight: 500;
}

.nav-items a:not(:last-child){
    margin-right: 50px;
}

.nav-items a:hover{
    color: #806aff;
}

/* Home Section  */

.home{
    position: relative;;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
}

.home-container h2{
    color: var(--third-color);
    font-size: 6em;
    font-weight: 600;
    line-height: 130px;
}

.home-container h3{
    color: #ffffff97;
    font-size: 4em;
    font-feature-settings: 1.3em;
    font-weight: 500;
    line-height: 80px;
}
.home-container p{
    color: var(--text-highlight-color);
    font-size: 1.1em;
    font-weight: 500;
}

.home-container .info p{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    max-width: 350px;
}

.btn{
    float: right;
    background-color: black;
    color: var(--text-highlight-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 20px;
    letter-spacing: 1;
    transition: 0.4s ease;
}
.btn:hover{
    background-color: var(--hover-color);
}

/* About Section  */

.about{
    position: relative;;
    max-width: 1250px;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.about-container h2{
    color: var(--third-color);
    font-size: 4em;
    font-weight: 600;
    line-height: 100px;
}

.about-info{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.about-container .info p{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    max-width: 550px;
    margin-bottom: 1em;
    text-align: left;
}

.about-container .profile-pic{
    max-width: 350px;
    max-height: 350px;

}

.profile-pic img{
    width: 350px;
    height: 350px;
    opacity: .4;
    transition: 0.3s ease;
    object-fit: fill;
    border-radius: 5px;
    box-shadow: var(--second-color) 10px 10px ;
    
}
.profile-pic img:hover{
    opacity: 0.8;
    box-shadow: var(--second-color) 5px 5px ;
}

/* About Section  */

.experience{
    position: relative;;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4.3rem 2rem;
    display: flex;
    justify-content: left;
    align-items:left;
}

.experience-container h2{
    color: var(--third-color);
    font-size: 4em;
    font-weight: 600;
    line-height: 100px;
}

.skillsinfo h4 label{
    color: var(--text-highlight-color);
    font-size: 2em;
    font-weight: 400;
    padding: 15px 0;
}

/* Experience  */


.experience{
    width: 1250px;
}

.experience-container{
    width: 100%;
}

.content{
    width: 100%;
}
.experience-container h2{
    margin-bottom: 30px;
}

.work-list{
    display: grid;
    grid-template-rows: repeat(autofill,minmax(225px,1fr));
    max-width: 100%;
}

.work-list-container{
    width: 100%;
}

.work-card{
    max-width: 100%;
    background: black; 
    border-bottom: 3px solid var(--second-color);
    padding: 25px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.work-card h3{
    font-weight: 600;
}

.work-card p{
    color: var(--text-color);
}

.work-card .learnMoreBtn{
    margin-top: 10px;
    color: var(--text-highlight-color);
    cursor: pointer;
    transition: .3s ease;
}

.work-card .learnMoreBtn i{
    transition: .3s ease;
}

.work-card:hover .learnMoreBtn i{
    transform: translateX(10px);
}
