*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --headings-color : white;
    --text-color: #ccd6f6;
    --text-icons-color : #64ffda;
}
p{
    color: var(--text-color);
    max-width: 550px;
    line-height: 1.6;
}
.header{
    min-height: 100vh;
    width: 100%;
    /*background-color:#0a192f ;*/
    background-color: black;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.myname{
    color: #64ffda;
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: var(--text-icons-color);
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: white ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: var(--headings-color);
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box h1{
    font-size: 85px;
    padding-left: 15px;
}
.text-box h6{
    color: var(--text-icons-color);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.text-box h2,h6,p{
    padding: 15px;
}
.text-box h2{
    font-size: 55px;
    color: var(--text-color);
}

